if SHIELD_NIKLAT_LEFT

config ZMK_KEYBOARD_NAME
	default "NikLat KBD"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_NIKLAT_LEFT || SHIELD_NIKLAT_RIGHT

config ZMK_SPLIT
	default y

endif
