/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {

	behaviors {
		hm: homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "HOMEROW_MODS";
			#binding-cells = <2>;
			tapping-term-ms = <200>;
			quick-tap-ms = <0>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
	};

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |     |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  BSPC |    |
// |     |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |   O   |    |
// |     |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  ESC  |    |
//                   | TAB | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &trans &kp Q       &kp W      &kp F      &kp P        &kp B   &kp J &kp L         &kp U         &kp Y        &kp BSPC       &trans
   &trans &hm LCTRL A &hm LALT R &hm LGUI S &hm LSHIFT T &kp G   &kp M &hm RSHIFT N  &hm RGUI E    &hm RALT I   &hm RCTRL O    &trans
   &trans &kp Z       &kp X      &kp C      &kp D        &kp V   &kp K &kp H         &kp COMMA     &kp DOT      &kp ESC        &trans
                                 &kp TAB &mo 1 &kp SPACE   &kp RET &mo 2 &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |     |  1  |  2  |  3  |  -  |   |  %  |  *  |  /  |  =  |     | BSPC |
// |      |  4  |  5  |  6  |  7  |  +  |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |  8  |  9  |  0  |  .  |   | BT1 | BT2 | BT3 | BT4 | BT5 | BTCLR|
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB    &trans &kp N1 &kp N2 &kp N3 &kp MINUS   &kp PRCNT    &kp ASTRK    &kp FSLH     &kp EQUAL    &trans       &kp BSPC
   &trans     &kp N4 &kp N5 &kp N6 &kp N7 &kp PLUS    &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    &trans       &trans
   &kp LSHFT  &trans &kp N8 &kp N9 &kp N0 &kp DOT     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR
                            &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp RALT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  ~  |  !  |  @  |  #  |  $  |   |  '  |  -  |  (  |  )  |  ;  | BSPC |
// | CTRL |  `  |  %  |  ^  |  &  |  *  |   |  "  |  _  |  [  |  ]  |  ?  |      |
// | SHFT |  /  |  \  |  <  |  >  | "|" |   |  =  |  +  |  {  |  }  |  :  |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB   &kp TILDE &kp EXCL  &kp AT    &kp HASH &kp DLLR    &kp SQT   &kp MINUS &kp LPAR  &kp RPAR &kp SEMI  &kp BSPC
   &kp LCTRL &kp GRAVE &kp PRCNT &kp CARET &kp AMPS &kp ASTRK   &kp DQT   &kp UNDER &kp LBKT  &kp RBKT &kp QMARK &trans
   &kp LSHFT &kp FSLH  &kp BSLH  &kp LT    &kp GT   &kp PIPE    &kp EQUAL &kp PLUS  &kp LBRC  &kp RBRC &kp COLON &trans
                             &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };
        };
};
